<footer class="bg-slate-600 w-full">
    <p>Mitt företag</p>
    <p class="mt-5">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem dolorum dolor fuga fugiat! Ipsa nulla beatae, ad atque soluta aut, enim voluptatum culpa voluptates quae at, necessitatibus temporibus sapiente. Possimus.</p>
</footer>

</body>
</html>