<%- include('partials/head', {title: "Min app"}); %>

    <h1 style="<%= style %>"><%= title %></h1>

    <div>
        <a href="/login">Logga in här</a>
    </div>

    <p>New here?</p>

<a class="mt-8 inline-block px-4 py-2 bg-blue-300 text-white" href="/signup">Sign up</a>

<%- include('partials/footer'); %>