<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Welcome!</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio quidem obcaecati nam sed. Temporibus nihil aliquid dolor, iure ratione nulla voluptatum dignissimos obcaecati, facere ipsam impedit ipsa perspiciatis vero mollitia?</p>

    <div>
        <a href="/login">Logga in här</a>
    </div>
</body>
</html>