<%- include('partials/head', {title: "Min app"}); %>

    <h1 style="<%= style %>"><%= title %></h1>

    <div>
        <a href="/login">Logga in här</a>
    </div>

<%- include('partials/footer'); %>