<%- include('partials/head', {title: "Logged in"}); %>
    
    <h1>Grattis <span style="<%= style %>"> <%= name %> </span> du är inloggad </h1>

    <button class="mt-8 px-4 py-2 bg-blue-300 text-white" onclick="getUserFavoriteColor()">Hämta favorit-färg</button>
    <script>
        function getUserFavoriteColor(){
            fetch('http://localhost:4000/api/getfavoritecolor')
            .then(data =>{
                return data.json();
            })
            .then(json =>{
                console.log(json);
            })
        }
    </script>

<%- include('partials/footer'); %>
