<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="output.css">
</head>

<body class="bg-gray-100">
    <div class="h-screen w-full flex items-center justify-center">
        <div class="p-10 round-2xl shadow-xl">
            Login screen
            <form class="login-form mt-5" method="post" action="/login">
                <input class="p-1" type="text" name="email" placeholder="Name">
                <input class="p-1" type="text" name="password" placeholder="Password">

                <button class="bg-green-300 ml-2 p-1" type="submit">Logga in</button>
            </form>
        </div>
    </div>
</body>

</html>